@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
   --accent-color: #82ccee;
    --text-color: black;
    --input-color: wheat;
    --base-color: white;

}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Poppins;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}
body{
    min-height: 100vh;
    background-image: url(images/pexels-alena-koval-233944-886521\ \(1\).jpg);
    background-size: cover;
    background-position: right;
}
.wrapper{
    background-color: var(--base-color);
    height: 100vh;
    width: max(30%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}
form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}
form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
    fill: var(--base-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}